*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-fondo:white;
    --capa-marron-1:#592A00;
    --capa-marron-2:#855C37;
    --capa-marron-3:#9F6E44;
    --capa-marron-4:#AC784A;
    --color-destacado:#B8FFF1;
    --fondo-footer: #D5BBA4;
}

header{
    position: fixed;
    z-index: 4;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: var(--capa-marron-1);
    color: var(--color-fondo);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 10px black;
}

header>ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header li:hover{
    color: var(--color-destacado);
    text-decoration-line: underline;
    cursor: pointer;
}

.userContorno{
    display: block;
}

i.userHover{
    display: none;
}

li:hover .userContorno{
    display: none;
}

li:hover .userHover{
    display: block;
}

.registrar{
    background-color: transparent;
    color: var(--color-fondo);
    padding: .3rem;
    border: .08rem solid var(--color-destacado);
    border-radius: .2rem;
}

.registrar:hover{
    background-color: var(--color-destacado);
    color: var(--capa-marron-1);
}

/* .fa-user:not(:hover){
    content:"\f007";
    font-family: "Font Awesome 6 Free";
} */

.menuPrincipal>li{
    padding: 0 4rem 0 4rem;
}
main{
    width: 100%;
    overflow-x: hidden;
}

body{
    height: 100%;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, minmax(auto,auto));
  
}



.portada{
    display: grid;
    grid-template-columns: 1fr .2fr .2fr 1fr;
    grid-template-areas: 
        "imagen hoja1 hoja2 portada ";
}

.portada>div{
    box-shadow: 2px 0px 10px black;
    
}

/* .book-contenedor {
    position: relative;
   width: 100%;
   rotate: -90deg;
   width: 20rem;
   height: 30rem;
  }
  
  .book-contenedor-img {
    position: fixed;
 
    object-position: center; 
  }  
    */

/*  .book-contenedor{
    position: relative;
    width: 80%;
    max-width: 100%;
    right: 2.5rem;
     right: 2.5rem; 
}

.book-contenedor>img{
    width: 100%;
    display: flex;
    rotate: -90deg;
    width: 40rem;
    height: 50rem;
    max-width: 60rem;
    min-width: 10rem;
    
} */

.book-contenedor{
    position: relative;
    width: 55vw;
    max-width: 1000px;
    min-width: 320px;
    right: 15%;
    
}
.book-contenedor>img{
    height: 100%;
    width: 100%;
   rotate: -90deg; 
}

.textoLogo{
    position: absolute;
    bottom: 35%;
    right: 30%;
    font-size: 3.2vw;
    
} 

.imagenPortada{
    background-color: #B8FFF1;
    grid-area: imagen;
}
.color1{
    grid-area: hoja1;
}

.color2{
    grid-area: hoja2;
}

.principal{
    grid-area: portada;
}



@media(max-width: 768px){
    .portada{
        grid-template-columns:.2fr .2fr 1fr;
        grid-template-areas: 
        "hoja1 hoja2 portada"
        "imagen imagen imagen";
    }

   
    
}
 


/* .book-contenedor>img{
   position: absolute;
     left: 40%; 
    color: var(--capa-marron-1);
     width: 40rem;
    height: 50rem; 
     width: 40vw;
    height: 80vh; 
    max-width: 60rem;
    min-width: 30rem;
    rotate: -90deg;
    filter: drop-shadow(0px 0px 5px black);
    bottom: 25%;
} */

/* .textoLogo{
    position: absolute;
    bottom: 50%;
    right: 25%;
} */
/* .textoLogo>h2{
    font-size: 3rem;
} */

.imagenPortada{
    z-index: 3;
}

.color1{
    background-color: var(--capa-marron-2);
    z-index: 2;
}

.color2{
    background-color: var(--capa-marron-3);
    z-index: 1;
}
.principal{
    color: var(--color-fondo);
    background-color: var(--capa-marron-4);
}

li{
    list-style: none;
}


/* Sobre nosotros */

h3{
    color: var(--capa-marron-1);
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.sobreNosotros{
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
   
    /*display: grid;
    
    object-fit: contain;
    grid-template-columns: repeat(auto-fill,minmax(auto,auto)); */


    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(auto, 15rem));
    justify-content:space-around;
    gap: 2rem; */
}



.cardAbout{
    width: 15rem;
    height: 16.5rem;
    background-color: #AC784A;
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
    position: relative;
}

h4.nombre{
    font-size: 1.2rem;
    padding-top: 2rem;
}

.img-contenedor{
    position: absolute;
    height: 1rem;
    left: 11rem;
    bottom: 16rem;
    margin: 0;
    /* bottom: 1.8rem; */
}

.mas-btn{
    align-self: flex-end;
    text-decoration: none;
    color: var(--color-fondo);
    cursor: pointer;
    
}



.fa-quote-left{
    color: var(--capa-marron-1);
    font-size: .5rem;
    padding: .1rem;
    vertical-align: top;
}

.mas-btn:hover{
    color: var(--color-destacado);
}


footer{
    background-color: var(--fondo-footer);
    color: var(--color-fondo);
}

div.footerSuperior{
    /* height: max-content; */
    display: grid;
   /*  width: 90%; */
	/* margin: 0 auto; */
    /* gap: 1rem; */
    /* grid-auto-rows: 12rem; */
    grid-auto-flow: dense;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit,minmax(auto, 15rem));
    grid-template-rows: repeat(auto-fit,minmax(auto, 15rem));
    /* grid-auto-rows: auto; */
    /* grid-template-rows: repeat(auto-fit,minmax(min(100%,10rem)1fr)); */
    /* grid-template: 
    "info"
    "aviso"
    "contacto"; */

   /*  @media(min-width:768px){
        grid-template: 
        "info aviso contacto"
    } */
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;*/
    
}

footer li{
    margin: 1rem;
}

.tituloFooter{
    font-size: 1.1rem;
}

.redes{
    display: flex;
    flex-wrap: wrap;

}

/*.footerSuperior>ul{
    height: 12rem;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.footerSuperior>ul>li{
    
}*/

.footerInferior{
    background-color: var(--capa-marron-1);
    color: var(--color-destacado);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

}