:root{
    --color-fondo:white;
    --capa-marron-1:#592A00;
    --capa-marron-2:#855C37;
    --capa-marron-3:#9F6E44;
    --capa-marron-4:#AC784A;
    --color-destacado:#B8FFF1;
    --fondo-footer: #D5BBA4;
}

h2.catalogo{
    text-align: center;
    color: var(--capa-marron-1);
    margin-bottom: 4rem;

}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;
    

}

.lista-libros{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%; 
    max-width: 800px;

}
.libro{
    width: 10rem;
    text-align: center;
    background-color:var(--capa-marron-4) ;
    color: var(--color-fondo);
    padding: 1rem;
    margin: 1rem;
}

.libro:hover{
    box-shadow: 0 0 .5rem black;
    cursor: pointer;
}

.libro img{
    width: 5rem;
    gap: 2rem;

}

.libro p.nombre{
    font-size: 1rem;
    padding: .5rem;
}

.libro p.autor{
    font-size: .8rem;
    opacity: 80%;
}

/* Cards librerias */
h2.tituloLibrerias{
    text-align: center;
    color: var(--capa-marron-1);
    margin-bottom: 4rem;
}

.lista-librerias{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%; 
    max-width: 800px;
    gap: 2rem;
    margin-bottom: 2rem;
}
.libreria{
    text-align: center;
    color: var(--capa-marron-1);
}

.libreria img:hover{
    box-shadow: 0 0 .5rem black;
}

.libreria img{
    width: 10rem;
    gap: 2rem;
    border: .2rem solid var(--capa-marron-1);

}

.vista-libro>h2{
    color: var(--capa-marron-1);
    text-align: center;
    padding: 1rem;
}

.vistaLibro{
    display: flex;
    gap: 4rem;
    padding: 4rem;
    background-color: var(--capa-marron-4);
    color: var(--color-fondo);
}

.vistaLibro img{
    height: 20rem;
    margin: 0 4rem;
}


.vistaLibreria{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

section.libreria{
    margin: 2rem;
}

.vistaLibreria{
    background-color: var(--capa-marron-4);
    padding: 1rem;
    margin: 1rem;

}

.infoLibro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.botonesLibro button{
    background-color: transparent;
    color: var(--color-fondo);
    margin: 1rem;
    padding: .3rem .5rem;
    border: .08rem solid var(--color-destacado);
    border-radius: .2rem;
}

.botonesLibro button:hover{
    background-color: var(--color-destacado);
    color: var(--capa-marron-1);
}

.vistaLibreria>address{
    color: var(--color-fondo);
    display: flex;
    align-items:flex-end;
    
}

address a{
    text-decoration: none;
    color: var(--color-fondo);
}

address a:hover{
    color: var(--color-destacado);
}